[submodule "desafio-gostack11-conceitos-nodejs"]
	path = desafio-gostack11-conceitos-nodejs
	url = https://github.com/savio777/desafio-gostack11-conceitos-nodejs
[submodule "desafio-gostack11-conceitos-reactjs"]
	path = desafio-gostack11-conceitos-reactjs
	url = https://github.com/savio777/desafio-gostack11-conceitos-reactjs
[submodule "desafio-gostack11-conceitos-react-native"]
	path = desafio-gostack11-conceitos-react-native
	url = https://github.com/savio777/desafio-gostack11-conceitos-react-native
[submodule "desafio-gostack11-fundamentos-nodejs"]
	path = desafio-gostack11-fundamentos-nodejs
	url = https://github.com/savio777/desafio-gostack11-fundamentos-nodejs
